{% extends 'base.html' %}
{% load static %}

{% block header_title %}
Acerca de mí
{% endblock header_title %}

{% block header_description %}
<div class="text-center text-white">
    <p>Christian Kegler - Python Comisión 57810</p>
</div>
{% endblock header_description %}

{% block content %}
<div class="text-center text-black">
    <p>Hola, yo soy Christian. Tengo 25 años y soy de Vicente López, Buenos Aires.</p>
    <p>Hice el curso de Python en CoderHouse porque siempre me ha interesado el tema de la programación. Es un mundo al que desde hace mucho tiempo quería entrar, pero por distintas razones no lo hacía. Hasta que un día me animé, y la verdad es que me empezó a gustar. Es muy interesante todo lo que se puede llegar a hacer en este ámbito.</p>
    <p>Este es mi proyecto: una tienda de libros online interactiva. Elegí esta temática porque fue una de las ideas que se me ocurrieron para facilitarme un poco más la tercera preentrega. Para el proyecto final, decidí partir de la base que ya había creado y mejorarla. En este proceso, me encontré con muchas dificultades, ya que de programación solo sé lo visto en clase.</p>
    <p>Experimenté muchas emociones al realizar este proyecto: felicidad al saber que algo funcionaba, enojo cuando algo no salía bien, frustración después de horas sin encontrar el error y, sobre todo, ganas de seguir adelante cuando todo salía como quería.</p>
    <p>En conclusión, esto es solo el principio...</p>
</div>
{% endblock content %}
